<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
    <title>EFNN</title>
</head>
<body>
    <h1>EXPOSURE FUSION NEURAL NETWORK</h1>

    <div id="efnn_img_container">
        <img id="efnnsvg" src="{% static 'images/efnn.svg' %}">
    </div>

    <p>EFNN was created in order to enhance image quality in order to achieve close to real time computer vision in extreme lighting conditions.</p>
    <p>This new HDR Machine Learning based solution attempts to create HDR images in higher speeds than traditional methods.</p>

    <div id="download_buttons">
        <a href="/media/memoire.pdf" target="_blank">
            <img src="{% static 'images/book.svg' %}">
            <h3>Get the Memoire (PDF)</h3>
        </a>
        <a href="https://github.com/logxseven/efnn" target="_blank">
            <img src="{% static 'images/github.svg' %}">
            <h3>Get the code & model on GITHUB</h3>
        </a>
        <a href="/media/abstract.pdf" target="_blank">
            <img src="{% static 'images/files.svg' %}">
            <h3>Get the Abstract</h3>
        </a>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>