{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h2>Test it now :</h2>

    <div class="samplechooser_container">

        <h3>Choose a sample :</h3>
        <h4>Samples from the test dataset</h4>

        <div class="samplechooser_elem" onclick="selectSample(this, event);">
            <input type="radio" id="samplechooser1" name="samplechooser" value="HDRMark" checked>
            <div>
                <img src="/media/HDRMark/under.jpg">
                <img src="/media/HDRMark/normal.jpg">
                <img src="/media/HDRMark/over.jpg">
            </div>
        </div>

        <div class="samplechooser_elem" onclick="selectSample(this, event);">
            <input type="radio" id="samplechooser1" name="samplechooser" value="AirBellowsGap">
            <div>
                <img src="/media/AirBellowsGap/under.jpg">
                <img src="/media/AirBellowsGap/normal.jpg">
                <img src="/media/AirBellowsGap/over.jpg">
            </div>
        </div>

        <h4>New never before seen samples (Model Generalization Testing)</h4>

        <div class="samplechooser_elem" onclick="selectSample(this, event);">
            <input type="radio" id="samplechooser1" name="samplechooser" value="SAMPLE001">
            <div>
                <img src="/media/SAMPLE001/under.jpg">
                <img src="/media/SAMPLE001/normal.jpg">
                <img src="/media/SAMPLE001/over.jpg">
            </div>
        </div>

        <div class="samplechooser_elem" onclick="selectSample(this, event);">
            <input type="radio" id="samplechooser1" name="samplechooser" value="OSTROW">
            <div>
                <img src="/media/OSTROW/under.jpg">
                <img src="/media/OSTROW/normal.jpg">
                <img src="/media/OSTROW/over.jpg">
            </div>
        </div>

        <button onclick="run(this, event);">Run</button>

        <h3>Or Upload your own (Exposures must have the same exact resolution/shape):</h3>

        <form id="upload_container" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label>Under Exposure</label>
                <input id="under_upload" type="file" accept="image/*" />
                <label>Normal Exposure</label>
                <input id="normal_upload" type="file" accept="image/*" />
                <label>Over Exposure</label>
                <input id="over_upload" type="file" accept="image/*" />
            </div>
            
            <button id="upload_title" onclick="upload(this, event);">Upload & Run</button>
        </form>

        <div class = "loading_overlay">
            <div>
                <img src="{% static 'images/loading.svg' %}">
            </div>
        </div>
    </div>
{% endblock %}